PROJECT_NAME="Ledgr"
PROJECT_DESCRIPTION="Next generation of banking with Ledgr"
API_V1="/api/v1"
SITE_NAME="Ledgr Banking"
SUPPORT_EMAIL="ledgr-support@gmail.com"
API_BASE_URL="http://api.localhost"
JWT_SECRET_KEY=""
SIGNING_KEY=""

POSTGRES_USER=pranto
POSTGRES_PASSWORD=root
POSTGRES_DB=ledgr
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

DB_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

MAIL_FROM="noreply@ledgr.com"
MAIL_FROM_NAME="Ledgr"

CELERY_FLOWER_USERNAME="admin"
CELERY_FLOWER_PASSWORD="admin"
CELERY_BROKER_URL="amqp://rabbitmq"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
